<div class="jumbotron mt-4">
	<h1 class="display-4">Notes App NodeJS and MongoDB</h1>
	<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
	<hr class="my-4">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit eaque, nostrum laborum reprehenderit voluptatibus vitae sed officiis? Magni incidunt placeat fugiat eligendi libero nisi similique culpa adipisci suscipit. Fugit, corporis.</p>
	<a href="http://faztweb.com" class="btn btn-primary btn-lg">FaztWeb</a>
</div>